# Frontend API Configuration
VITE_API_URL=http://localhost:8000

# Firebase Configuration (Replace with production values)
VITE_FIREBASE_API_KEY=AIzaSyDcLIbFsi9XZsKEk-pdkBNT9Vtqhz-0YXs
VITE_FIREBASE_AUTH_DOMAIN=student-9dde3.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=student-9dde3
VITE_FIREBASE_STORAGE_BUCKET=student-9dde3.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=774249179086
VITE_FIREBASE_APP_ID=1:774249179086:web:549899892ef0a551432d9f
VITE_FIREBASE_MEASUREMENT_ID=G-5FZBNRLBY8

# Groq API Key
VITE_GROQ_API_KEY=
