# Environments
env/
venv/
backend/venv/
backend/env/
frontend/bg-env/
.venv/
ENV/

# Secrets & Local Configurations
.env
backend/.env
frontend/.env
firebase-service-account.json
backend/firebase-service-account.json

# Databases
*.sqlite3
db.sqlite3
backend/db.sqlite3

# Node dependencies
node_modules/
frontend/node_modules/

# Production Builds
dist/
frontend/dist/
build/
staticfiles/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating system files
.DS_Store
Thumbs.db
